@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 0.2em;
}

.container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.checkbox-container {
  display: inline-block;
  position: relative;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #e1e3e7;
  background-color: white;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox.checked {
  border: 2px solid #6c6cbb;
  background-color: #ebebf8;
}

.custom-checkbox span {
  font-size: 14px;
  color: #6c6cbb;
}
